.mainHome{
    background-color: rgb(0, 18, 58);
    padding: 20px;
}
h1{
    color: rgb(255, 195, 116);
    font-family: cursive;
    text-align: center;
  }
  h3{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }