.navbar {
  background-color: black;
  /* background-color: rgb(33, 33, 33); */
  color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.LogoName {
  font-size: 15px;
  font-family: cursive;
  color: gold;
  text-decoration: none;
}
.LogoName:hover {
  color: rgb(255, 235, 197);
  text-decoration: underline;
}
