.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #343a40;
}

/* Ensure Navbar Stays Below Sidebar */
.navbar + .main-content {
  margin-top: 56px; /* Adjust based on navbar height */
}

.navbar-brand {
  color: gold;
  font-size: 18px;
  margin-left: 50px;
}

.navbar-brand:hover {
  color: rgb(231, 213, 108);
  text-decoration: underline;
}
