/* Sidebar.css */
.sidebar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;  /* Leave space for navbar */
  left: 0;
  height: calc(100vh - 70px); /* Sidebar starts below the navbar */
  width: 190px; /* Sidebar width */
  /* background-color: #343a40; */
}

.sidebar {
  flex: 1;
}

.nav-link {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #495057;
}
