/* Styling for Trips Management page */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #343a40;
  font-size: 28px;
  font-weight: bold;
}

/* Search Box */
.search-input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

/* Button Styling */
.btn {
  /* background-color: #4CAF50; */
  color: white;
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

/* Table Styling */
.table {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #343a40;
  /* margin-bottom: 20%; */
}

.table thead {
  /* background-color: #343a40; */
  color: #fff;
  font-size: 16px;
}

.table th {
  border: 1px solid #f8f9fa;
  color: #fff;
  background-color: #343a40;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 8px;
}

.table td {
  /* background-color: #343a40; */
  /* color: white; */
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 8px;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table-responsive {
  overflow-x: auto;
  max-height: 400px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.pagination .page-link {
  color: #007bff;
  border-radius: 50%;
  margin: 0 5px;
  border: 1px solid #dee2e6;
  margin-bottom: 50px;
}

.form-control {
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

input::placeholder {
  font-style: italic;
  color: #6c757d;
}

div .modal-header {
  background-color: #343a40;
}
